@import "../../base";

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

    height: 10dvh;
    width: 100%;

    padding: 1rem 3rem;

    position: sticky;
    top: 0;
    z-index: 3;


    &_menu {
        display: none;
    }

    &_logo {
        width: 100px;
        height: 70px;
        object-fit: contain;
        display: block;
        background-blend-mode: lighten;
        // mix-blend-mode:color-burn;
    }

    form {
        flex: 0.6;
        display: flex;
        align-items: center;
        padding: 0.1rem;
        margin: 0.1rem;
        border-radius: 3px;
        border: 1.2px solid;
    }


    input {

        width: 100%;
        border: none;
        background: transparent;
        padding: 0.3rem;
        font-weight: 500;


        &:focus {
            outline: none;
        }


    }

    button {
        background: transparent;
        padding: 0 1rem;
        border: none;

        &:focus {
            border: none;
        }
    }

    &_icons {
        flex: 0.2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // position: relative;

        .cart {
            cursor: pointer;
            color: black;
            &_items {
                background-color: red;
                position: absolute;
                color: white;
                font-size: 1vmax;
                font-weight: bold;
                border-radius: 100%;
                width: 1.5vmax;
                text-align: center;
                transform: translateX(-190%) translateY(-10px);
            }

        }


        img {
            object-fit: contain;
            width: 40px;
            height: 40px;
            margin-left: 20px;
            border-radius: 100%;
            cursor: pointer;
        }

        .account {
            width: 7%;
            position: absolute;
            top: 9dvh;
            opacity: 0;
            background-color: tomato;
            color: white;
            padding: 0.5%;
            font-family: 'sans-serif';
            font-size: 1.25vmax;
            margin: auto;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
            transform: translatex(50%);
            border-radius: 2%;

        }

        img:hover+span {
            // transform: translatex(50%) translateY();
            opacity: 1;
            z-index: 1;
        }

        // .cart:hover +span{
        //     opacity: 1;
        //     z-index: 1;
        // }


    }


}

@media(max-width:600px) {
    .Header {
        &_menu {
            display: block;
        }

        &_logo {
            display: none;
        }

        &_icons {
            // width: 3vmax;
            .account {
                font-size: 2vmax;
                top: 8dvh;
                transform: translatex(3vmax)
            }

            .cart_items{
                width: 3vmax;
                font-size: 2vmax;
                transform: translateX(-20px) translateY(-10px)
            }

        }
    }
}