@import "../../base";

.HomeScreen {
    overflow: scroll;
   width: 100%;
height: 100%;
    padding-top: 0.5rem;
    .paginationBox{
        margin: 0.5vmax;
        display:flex ;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
       .page-item:hover .page-link{
        background-color: rgb(247, 135, 94);
        color: white;
       }
        .pageLinkActive{
            background-color: orangered;
            color: white;
        }
    }


}

// @media(max-width:600px){
//     .HomeScreen {
//         position: relative;
//     }
// }